<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hotel Booking App</title>
    <link th:if="${mode =='development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link th:if="${mode =='production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="x">Booking Demo</a>
        </div>
        <p class="navbar-text navbar-right" th:text=" 'Signed in as ' + ${username}" style="margin-right: 10px;">Signed
            in as Anonymous</p>
        </div>
    </nav>
</header>

<div>
    Hello, Thymleaf!
</div>

<footer class="footer" style="position: absolute; bottom:0; background-color: #f5f5f5;">
    <div class="container">
        <p th:text="${datetime}" class="text-muted">Page was rendered today</p>
    </div>
</footer>
</body>
</html>